@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <h1>Welcome to Cinema Tickets</h1>

    <p>At Cinema Tickets, you can easily manage your movie database and ticketing system. Add, edit, and delete movies, actors, and tickets to create a seamless cinema experience for your customers.</p>

    <div class="row">
        <div class="col-md-4">
            <h2>Actors</h2>
            <p>Add, edit, and view actors in our database.</p>
            <a class="btn btn-primary" href="/Actors">Go to Actors</a>
        </div>
        <div class="col-md-4">
            <h2>Movies</h2>
            <p>Explore our movies and manage them.</p>
            <a class="btn btn-primary" href="/Movies">Go to Movies</a>
        </div>
        <div class="col-md-4">
            <h2>Tickets</h2>
            <p>Buy tickets for upcoming movie shows.</p>
            <a class="btn btn-primary" href="/Tickets">Go to Tickets</a>
        </div>
    </div>
</div>
